[run]
branch = True
source = ibis

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    def test_import_time():
ignore_errors = True
omit =
    ibis/_version.py
